/* Reset simple */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:#ffff;
}

/* Navigation */
header {
    background-color: rgb(254, 255, 255); 
    padding: 20px;
    
}

header h1{
    margin: 0;
    color: rgb(204, 20, 204);
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    font-weight: bold;
    font-size: 3em;
}

/* Listes */ 
ul{
    list-style: none;
    padding-left: 20px;
}

/* liens */
a{
    text-decoration: none;
    color: black;
}

/* sections */
section{
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

/* titres h2 */
h2{
    margin-bottom: 20px;
}

/* Footer */
footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(237, 113, 241);
    font-size: 14px;
}


