/* Reset simple */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:#f5f7fa;
    color: #1a1a1a;
}

/* Listes */ 
ul{
    list-style: none;
    padding-left: 20px;
}

/* liens */
a{
    text-decoration: none;
}

/* Navigation */
header {
    background-color: #ffffff;
    padding: 0.5em;
    
}

header h1{
    margin: 0;
    color: #3e98f8;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    font-weight: bold;
    font-size: 3em;
    padding-left: 1em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    padding-right: 4em;
}

nav a{
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #4da3ff;
}

.hero{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero h2{
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p{
    font-size: 1.2em;
    color: #444444;
}


/* sections */
section{
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
}

section:nth-child(3){
    background: linear-gradient(90deg, #70b4fd,  #f0f4f8); 
    border-radius: 10px;
    color: #000000;
}


/* Footer */
footer{
    color: #ffff;
    text-align: center;
    padding: 3px 20px;
    background-color: #70b4fd;
    font-size: 1.2em;
}


